@font-face {
    font-family: Baboo;
    src: url(BalooDa2-Medium.ttf);
}

body {
    background-color: #eddcd2;
    font-family: Baboo, Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: #78290f;
}

h2 {
    color: #cc471b;
}

dt{
	text-align: justify;
	text-indent: 50px;
}
hr{
    height: 30px;
    color: rgb(248, 188, 165);
    background-color: rgb(248, 188, 165);
    border: none;
}

span{
    color: brown;
    font-size: 20px;
    font-weight: bold;
	text-align: center;
}

.ingredients {
    width: 400px;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.pic {
    width: 300px;
    height: 100%;
    display: inline-block;
}

#right img{
    width:100%;
}

#right div{
    margin-bottom: 20px;
}

.flex_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.flex_container > div{
    border: 5px solid rgb(253, 228, 82);
    width: 300px;
    margin-left: 10px;
	margin-top: 10px;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 10% auto 20%;
    grid-gap: 10px;
}

.grid-container > div{
	border: 1px solid #b68973;
    font-size: 20px;
    text-align: center;
    background-color:#fff3e2;
}

#header{
	grid-column: 1 / span 3;
}

#main1{
	grid-column: 1 / span 1;
}

#main2{
	grid-column: 2 / span 1;
}

#right{
	grid-column: 3 / span 1;
}

#footer{
	grid-column: 1 / span 3;
}

@media only screen and (max-width: 768px) {
	.grid-container {
		display: grid;
        grid-template-columns: auto 20%;
        grid-gap: 10px;
	}

	#header{
		grid-column: 1 / span 2;
	}

	#footer{
		grid-column: 1 / span 2;
	}

    #right{
        grid-column: 2 / span 1;
    }

	#main2{
        grid-column: 1 / span 1;
    }

	#main1{
        grid-column: 1 / span 2;
    }

}

@media only screen and (max-width: 500px) {
	.grid-container {
		display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
	}
	#header{
		grid-column: 1 / span 1;
	}

	#footer{
		grid-column: 1 / span 1;
	}

	#main1{
        grid-column: 1 / span 1;
    }
    
    #main2{
        grid-column: 1 / span 1;
    }

    #right{
        grid-column: 1 / span 1;
    }
}